{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Search
                    <small>in Articles</small>
                </h1>
            </div>

            <form class="form-inline" role="form" method="get" action="{{ url('search_index') }}">
                <div class="form-group">
                    <input type="text"
                           name="q"
                           class="form-control"
                           placeholder="Search"
                           {% if query %}value="{{ query }}"{% endif %}>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    {% if result %}
        <div class="row">
            <div class="col-lg-5">
                <h3>MySQL</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Title</td>
                        <td>Author</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in result.mysql %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.author }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-5">
                <h3>Solr</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Title</td>
                        <td>Author</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in result.solr %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.author }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
